#wrapper {
    background-color: beige;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgba(0, 183, 255, 0.808);
}

#wrapper {
      position: relative;
}


#button {
    text-align: center;
    width:150px;
    margin:0 auto;
}

#startButton {
    text-align: center;
}

  
#container {
    position: relative;
    text-align: center;
    color: white;
}


    #centered {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50%, -5%);
    }
    
    tr{
        color: black;
    }

    .form-group {
        color: black;
    }
    h3 {
        color: black;
    }
    .display-4 {
        background:blue;
        color: white;
    }